
<div class="page">
<%= link_to products_path, style:"color:#32ffff" do %>
<%= "I'm looking for something..." %>
<% end %>
</div>

<div class="page">
<%= link_to new_product_path, style:"color:#32ffff" do %>
<%= "I have something to sell..." %>
<% end %>
</div>



